.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px
}

.table {
    border: 2px solid rgb(140 140 140);
    width: 100%; 
    border-collapse: collapse
}

.table-title {
  display: flex;
  flex-direction: column;
}

.table tbody tr:hover {
  cursor: pointer;
  background-color: rgb(243, 255, 255);
}

.input-filters {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 20px; 
    padding: 10px;

    width: 200px;
}

thead {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}